.Intro {
  display: inline-block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 12%;
  color: #e3e3e3;

  h1 {
    font-size: 72px;
  }
  div {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &--dropdown {
    font-size: 70px;
    padding-top: 4rem;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    transform: scale(1);
    transition: all ease-in-out 0.1s;
  }

  a {
    text-decoration: none;
    color: white;
  }
  &--dropdown:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0.1s;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .Intro {
    padding-top: 50%;
    padding-right: 2rem;
    padding-left: 2rem;

    h1 {
      font-size: 60px;
    }
  }
}

