$backgroundImage: "assets/background";
.App {
  &--intro {
    min-height: 100vh;
    background-size: cover;
    justify-content: center;
    text-align: center;
    background: url(#{$backgroundImage}.png) no-repeat fixed center;
  }
}

@media (max-width: 600px) {
  .App {
    &--intro {
      width: 100vw;
    }
  }
}