.Footer {
  padding: 4rem;
  background: rgba(70, 70, 70, 1);
  display: flex;
  justify-content: center;

  &--content {
    text-align: center;

    p {
      color: white;
    }
    .p1 {
      font-size: 40px;
      padding-bottom: 2rem;
    }
  }

  &--contact {
    padding-top: 3rem;

    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      color: darkgrey;
    }
  }

  &--social {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  &--social:hover {
    transform: scale(1.1);
    transition: all 0s ease-in-out 0.1s;
    cursor: pointer;
  }
}